header {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;

    --opacity: 0.1;
    background-color: #000000bb;

    /* background-color: rgba(var(--main-color), ); */

    z-index: 99999;

    justify-content: space-between;

    height: var(--ds-header-size);

    nav {
        --menu-li-padding-x: 22px;
        --menu-li-padding-y: 5px;
        --menu-link-font: var(--typo-header-menu);
        /* --menu-link-color: var(--ds-color-white); */

        width: 50%;

        ul {
            padding: 0 20px;

            li a {
                text-transform: uppercase;
                text-decoration: none;
            }
        }

        &:first-child ul {
            justify-content: start;
        }

        &:last-child ul {
            justify-content: end;
        }
    }

    /* 
    img {
        height: var(--ds-header-size);
    } */
}