header {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.733);
    z-index: 99999;
    justify-content: space-between;
    height: 76px;
    color: var(--ds-color-white);

    nav {
        --menu-li-padding-x: 22px;
        --menu-li-padding-y: 5px;
        --menu-link-font: var(--typo-regular-14);

        width: 50%;

        ul {
            padding: 0 20px;

            li a {
                text-transform: uppercase;
                text-decoration: none;
            }
        }

        &:first-child ul {
            justify-content: start;
        }

        &:last-child ul {
            justify-content: end;
        }
    }
}