.wizard {
    padding-top: 76px;

    display: flex;
    flex-direction: column;

    &__header {
        font: var(--typo-header-32);
        text-align: center;
        margin-bottom: 52px;
    }

    &__content {
        background-color: var(--ds-color-surface-gray);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 58px;

        &-btns {
            display: flex;
            justify-content: center;

            >button:first-child {
                width: 100%;
                margin-right: 8px;
            }

            >button:last-child {
                width: 100%;
                margin-left: 8px;
            }
        }
    }

    &__form {
        label {
            color: var(--ds-color-gray);
            font: var(--typo-regular-12);
            margin-bottom: 7px;
        }

    }

    &__figure-chooser {
        display: none;
        justify-content: space-around;
        margin-bottom: 46px;

        &-link {
            color: var(--ds-color-darker-gray);
            text-decoration: none;
            font: var(--typo-regular-14);

            &--selected {
                color: var(--ds-color-black);
                border-bottom: 3px solid var(--ds-color-surface-black);
            }
        }
    }

    &__input-group {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 52px;
        }
    }

    &__input-info {
        margin-top: 16px;
        font: var(--typo-regular-16);
    }

    input,
    select {
        width: 100%;
        padding: 0;
        padding-bottom: 8px;
        background-color: transparent;
        border: none;
        font: var(--typo-regular-14);
        border-bottom: 1px solid var(--ds-color-light-gray);
    }
}

.wizard__navigation {
    ul {
        display: flex;
        justify-content: center;
        padding: 18px 0;

        li.wizard__navigation-link {
            display: flex;
            align-items: center;


            a {
                font: var(--typo-regular-14);
                margin-left: 6px;
                text-decoration: none;
                color: var(--ds-color-light-gray);
            }

            &::before {
                content: "";
                width: 16px;
                height: 16px;
                background-color: transparent;
                border-radius: 9999px;
                display: block;
                border: 4px solid #ddd;
                box-sizing: border-box;
            }

            &::after {
                content: "";
                height: 1px;
                width: 32px;
                background-color: #e2e2e2;
                margin: 0 6px;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &--active {
                a {
                    color: var(--ds-color-black);
                }

                &::before {
                    border-color: var(--ds-color-surface-champaigne);
                }
            }
        }
    }
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
    .wizard {
        &__content {
            padding-left: 144px;
            padding-right: 144px;
            padding-top: 64px;
            padding-bottom: 64px;
        }

        &__input-group {
            margin-bottom: 41px;

            &:last-child {
                margin-bottom: 41px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .wizard {
        &__content {
            padding-left: 280px;
            padding-right: 280px;
            padding-top: 64px;
            padding-bottom: 90px;
        }

        &__input-group {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 52px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .wizard {
        flex-direction: row;

        &__header {
            margin-bottom: 42px;
        }

        &__figure-chooser {
            display: flex;
        }

        &__content-wrapper {
            width: 50%;
        }

        &__content {
            padding-left: 95px;
            padding-right: 95px;
            padding-top: 47px;
            padding-bottom: 47px;

            &-btns {
                display: flex;
                justify-content: center;
    
                >button:first-child {
                    width: auto;
                }
    
                >button:last-child {
                    width: auto;
                }
            }
        }

        &__input-group {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 40px;
            }

            &-set-figure-type {
                display: none;
            }
        }


        &__image {
            width: 50%;
            position: relative;

            &-overlay {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                overflow: hidden;
            }

            img {
                object-fit: contain;
            }
        }
    }
}