:root {
    --ds-color-black: black;
    --ds-color-dark-gray: #858585;
    --ds-color-white: white;
    --ds-color-transparent: transparent; 

    --ds-btn-primary-color: var(--ds-color-black); 
    --ds-btn-primary-bg: var(--ds-color-white);
    --ds-btn-primary-border-color: var(--ds-color-white);

    --ds-btn-secondary-color: var(--ds-color-white); 
    --ds-btn-secondary-bg: var(--ds-color-transparent);
    --ds-btn-secondary-border-color: var(--ds-color-white);
}

.text-white {
    color: var(--ds-color-white);
}

.text-black {
    color: var(--ds-color-black);
}

.text-dark-gray {
    color: var(--ds-color-dark-gray);
}