:root {
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-28: 28px;
    --font-size-32: 32px;
    --font-size-52: 52px;
    --font-size-76: 76px;
    --font-size-100: 100px;

    --line-height-112: 112%;
    --line-height-126: 126%;
    --line-height-140: 140%;
    --line-height-160: 160%;
    --line-height-180: 180%;

    --font-weight-300: 300;
    --font-weight-380: 380;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
   
    --font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-family-heading: "TT Livret", Georgia;

    --typo-header-20: var(--font-weight-300) var(--font-size-20)/var(--line-height-160) var(--font-family-heading);
    --typo-header-28: var(--font-weight-500) var(--font-size-28)/var(--line-height-160) var(--font-family-heading);
    --typo-header-32: var(--font-weight-380) var(--font-size-32)/var(--line-height-126) var(--font-family-heading);
    --typo-header-52: var(--font-weight-380) var(--font-size-52)/var(--line-height-112) var(--font-family-heading);
    --typo-header-76: var(--font-weight-380) var(--font-size-76)/var(--line-height-112) var(--font-family-heading);
    --typo-header-100: var(--font-weight-380) var(--font-size-100)/var(--line-height-112) var(--font-family-heading);
    
    --typo-regular-12: var(--font-weight-300) var(--font-size-12)/var(--line-height-140) var(--font-family-default);
    --typo-regular-14: var(--font-weight-300) var(--font-size-14)/var(--line-height-180) var(--font-family-default);
    --typo-regular-16: var(--font-weight-300) var(--font-size-16)/var(--line-height-160) var(--font-family-default);
    --typo-regular-22:  var(--font-weight-400) var(--font-size-22)/var(--line-height-160) var(--font-family-default);
}

